body{
  background-image: linear-gradient(
  45deg,
  hsl(56deg 100% 20%) 0%,
  hsl(55deg 81% 31%) 9%,
  hsl(55deg 70% 42%) 18%,
  hsl(55deg 75% 54%) 27%,
  hsl(56deg 97% 60%) 36%,
  hsl(61deg 90% 56%) 45%,
  hsl(65deg 95% 54%) 55%,
  hsl(69deg 99% 51%) 64%,
  hsl(59deg 100% 45%) 73%,
  hsl(44deg 100% 49%) 82%,
  hsl(32deg 100% 50%) 91%,
  hsl(20deg 100% 50%) 100%
);
}



.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
  
.container {
  background-color: #FAF9FA;
  border-radius: 8px;
  padding: 3rem;
  margin-top: 6rem;
}
.heading_text
{
  font-size: 15px !important;
  font-weight: 400;
}
.heading_two
{
  padding-top: 5px;
}
.total_amount_card
{
  height: 537px;
  background-color: #D6FF58;
  border-radius: 27px; 
}
 
.right
{
  float: right;
  margin-top: -2rem;
}
.card_text {
  padding-top: 40px;
}
.total_amount_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: 800;
  padding-top: 10rem;
}
.total_amount_para {
  text-align: center;
  font-size: 18px !important;
  padding-top: 5px;
  color: #4B4B4B;
}
.input_area
{
  margin-top: 40px;
}
  
.input_field
{
  margin-top: 30px;
  width: 445px;
}
#outlined-basic {
  width: 410px;
}
  
.button_collection
{
  margin-top: 61px;
  margin-bottom: 1rem;
}
.btn_one {
  background-color: #F2F2F2 !important;
  width: 250px;
  height: 75px;
  color: black !important;
  font-weight: 600;
  font-size: 20px !important;
  
}
 
.btn_two {
  background-color: #F2F2F2 !important;
  width: 250px;
  height: 75px;
  color: black !important;
  font-size: 20px !important;
  
}

svg{
  cursor: pointer;
}